annotated-types==0.7.0
anyio==4.14.1
certifi==2026.6.17
click==8.4.2
colorama==0.4.6
distro==1.9.0
fastapi==0.115.0
groq==0.9.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
pydantic
pydantic-settings
python-dotenv==1.0.1
python-multipart==0.0.9
sniffio==1.3.1
starlette==0.38.6
typing_extensions==4.15.0
pydub==0.25.1
google-generativeai
tzdata==2026.2
uvicorn==0.30.0
ffmpeg-python-binary